<head>
    <meta charset="utf-8">
    <title>Welcome to Recipe Book!</title>
    <link rel="stylesheet" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  </head>

<body>
<div class="header">
         <p>Welcome to Recipe Book!</p>
      </div>
      <div class="description">
        <p>Recipe Book is a real-time searchable recipe book list. You can create new recipes and search by name or ingredients. Try it out! :)</p>
      </div>
  <br>
  <a href="{{pathFor 'list'}}">LIST</a> |
  <a href="{{pathFor 'new'}}">ADD</a> |
  <a href="{{pathFor 'search'}}">SEARCH</a>
</body>