<template name="new">
<h1>Add New Recipe</h1>
  <form class="new-recipe">
  <div class="input">
    <input type="text" class="button" id="name" name="name" placeholder="RECIPE NAME"/><br />
    <input type="text" class="button" id="ingredients" name="ingredients" placeholder="INGREDIENTS"/><br />
    <textarea name="description" textarea class="button" id="description" placeholder="DIRECTIONS"></textarea><br />
    <input type="submit" class="button" id="submit" value="ADD NEW"/>
    </div>
  </form>
</template>